body {
    font-size: 10px;
}

.page-wrapper {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-wrapper .user-input-wrapper {
    display: flex;
    flex-direction: column;
}
